*{
    margin: 0;
    padding: 0;
  
}

.dd1{
    text-align: center;
 
}

.d1{
    padding-top: 90px;
   
    background-color: #c4097c;
    font-size: 40px;
    font-family:cursive;
    height: 240px;
   
}

.d2{
    background-color: orange;
    min-height: 50px;
}

.mai1{
    background-color: aqua;
}

.m1{
    border-top: solid aqua 35px;
    text-align: center;
    font-family:cursive;
    height: 290px;
    background-color: yellow;
}

.h21{
    font-size: 40px;
    padding-top: 50px;
   
}

.p1{
    padding-top: 80px;
    padding-bottom: 20px;
}


.im1{
    text-align: center;
}
.dash{
    margin-top: 30px;
    border: dashed black 4px;
    border-radius: 6px;
}

p{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 20px;
    
    
}





.bottom{
    border-top: solid #78034b 19px;
    margin-top: 20px;
    background-color: #c4097c;
    min-height: 50px;
}

